
#menu_text {
	margin: 0;
}


#menu_text {
	background-color: #34eb92;
	text-align: center;
	padding: 80px;
}

nav {
	background-color: #333;
	/*padding: 14px 20px;*/
	overflow: hidden;
}

nav a {
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
}/*id dùng cho đơn lẻ, class gồm 1 tập*/
.menu_left {
	float: left;
}

.menu_right {
	float: right;
}
nav a:hover {
	background-color: #DDD;
	color: black;
}
 #left_side{
 	flex: 30%;
	background-color: #f1f1f1;
	padding: 10px 20px;
 }

 #right_side {
 	flex: 70%;
 	padding: 10px 20px;
 }

#flex_container {
	display: flex;
	flex-wrap: nowrap;
}

footer {
	background-color: #333;
	color: white;
	padding: 10px 20px;
	text-align: center;
}

footer > a {
	color: white;
}

table {
 	border-collapse: collapse;
 	/*width: 100%;*/
}
/* styling the table */
table td, table th {
 	border: 1px solid #ddd;
 	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
 	padding-top: 12px;
 	padding-bottom: 12px;
 	text-align: left;
 	background-color: #04AA6D;
 	color: white;
}

@media(max-width: 800px) {
	#left_side {
		flex: 100%;
	}

	#right_side {
		flex: 100%;
	}

	#flex_container {
		flex-wrap: wrap;
	}
}

@media(max-width: 400px) {
	#left_side {
		flex: 100%;
	}

	#right_side {
		flex: 100%;
	}
	
	#flex_container {
		flex-wrap: wrap;
	}
}